---
http_interactions:
- request:
    method: get
    uri: http://services.faa.gov/airport/status/EDI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\r\n<html
        lang=\"en\">\r\n<head>\r\n\t<title>Missing File or Error</title>\r\n\t<link
        href=\"/template/style/main.css\" rel=\"stylesheet\" type=\"text/css\">\r\n\t<link
        href=\"/template/style/syntaxHighlighter.css\" rel=\"stylesheet\" type=\"text/css\">\r\n\t<!--[if
        IE 8]>    <link href=\"/template/style/fixes.ie8.css\" rel=\"stylesheet\"
        type=\"text/css\"><![endif]-->\r\n\t<!--[if LTE IE 7]><link href=\"/template/style/fixes.ie7.css\"
        rel=\"stylesheet\" type=\"text/css\"><![endif]-->\r\n\t<!--[if LTE IE 6]><link
        href=\"/template/style/fixes.ie6.css\" rel=\"stylesheet\" type=\"text/css\"><![endif]-->\r\n\t<meta
        http-equiv=\"content-type\" content=\"text/html; charset=utf-8\">\r\n\t<meta
        name=\"description\" content=\"FAA Web Services\">\r\n\t<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"
        type=\"text/javascript\"></script>\r\n\t<script src=\"/template/script/jquery.corner.js\"
        type=\"text/javascript\"></script>\r\n\t<script src=\"/template/script/shCore.js\"
        type=\"text/javascript\"></script>\r\n\t<script src=\"/template/script/shBrushXml.js\"
        type=\"text/javascript\"></script>\r\n\t<script src=\"/template/script/shBrushJava.js\"
        type=\"text/javascript\"></script>\r\n\t<script src=\"/template/script/shBrushCSharp.js\"
        type=\"text/javascript\"></script>\r\n\t<script src=\"/template/script/doc.js\"
        type=\"text/javascript\"></script>\r\n\t<script src=\"/template/script/load.js\"
        type=\"text/javascript\"></script>\r\n\t\r\n</head>\r\n<body>\r\n\t<div id=\"skipLinks\">\r\n\t\t<ul>\r\n\t\t\t<li><a
        href=\"#content\">Skip to Page Content</a></li>\r\n\t\t\t<li><a href=\"#vNav\">Skip
        to Sidebar Navigation</a></li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div id=\"widthControl\">\r\n\t<div
        id=\"head\">\r\n\t\t<div id=\"formSearchDocumentation\">\r\n\t\t\t<form action=\"/search/\"
        method=\"get\" class=\"clear layout no-print\">\r\n\t\t\t\t<div class=\"formRow\">\r\n\t\t\t\t\t<label
        for=\"wfq\">Search Documentation</label>\r\n\t\t\t\t\t<input type=\"text\"
        class=\"ac_input\" id=\"wfq\" tabindex=\"1\" alt=\"Search Criteria\" name=\"q\"
        size=\"27\" value=\"Search Documentation\">\r\n\t\t\t\t\t<input type=\"submit\"
        class=\"primary button\" value=\"Search\" alt=\"Submit Search\" tabindex=\"2\">\r\n\t\t\t\t</div>\r\n\t\t\t</form>\r\n\t\t\t\r\n\t\t\t\t<p><strong><a
        href=\"/signin/\">FAA Developer Sign In</a></strong></p>\r\n\t\t\t\r\n\t\t</div>\r\n\t\t<a
        id=\"logoLink\" href=\"/\">FAA Services Home</a>\r\n\t</div>\r\n\t<div id=\"vNav\">\r\n\t\t<ul
        class=\"Sle S1\">\r\n\t\t\t<li>\r\n\t\t\t<ul>\r\n\t\t\t\t<li><a href=\"/\"
        >FAA Web Services</a></li>\r\n\t\t\t\t<li><a href=\"/docs/basics/\" >API Basics</a></li>\r\n\t\t\t\t<li><a
        href=\"/docs/tutorial/\" >Simple Tutorial</a></li>\r\n\t\t\t\t<li><a href=\"/docs/formats/\"
        >Response Formats</a></li>\r\n\t\t\t\t<li><a href=\"/docs/http/\" >HTTP Response
        Codes and Errors</a></li>\r\n\t\t\t\t<li><a href=\"/docs/faq/\" >Frequently
        Asked Questions</a></li>\r\n\t\t\t\t<li><a href=\"/docs/services/\" >Services
        Catalog</a></li>\r\n\r\n                \r\n\t\t\t\t\r\n\t\t\t</ul>\r\n\t\t\t</li>\r\n\t\t</ul>\r\n\t</div>\r\n\t<div
        id=\"bodyPadding\" class=\"clear\">\r\n\t\t<img src=\"/template/images/logo_for_print.gif\"
        alt=\"Federal Aviation Administration\" class=\"forPrint\" width=\"179\" height=\"64\">\r\n\t\t<div
        class=\"whiteSheet\">\r\n\t\t\t<div id=\"content\" class=\"content\">\r\n\t\t\t\t<h1
        class=\"pageTitle\">Missing File or Error</h1>\r\n\t\t\t\t\r\n\t<p>Whoops!
        Either the page you requested could not be found or there was some other kind
        of error.</p>\r\n\t<p>If you were trying to consume a web service, please
        double check the URI you're using or consult the <a href=\"/docs/services/\">service
        catalog</a>.</p>\t\r\n\t<p>If you believe something's wrong on our end, please
        <a href=\"/contact/?reason=Bug%20Report\">let us know</a>.</p>\r\n\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t</div>\r\n
        \   <div id=\"footer\">\r\n\t\t<div class=\"address\">\r\n\t\t\t<p><a href=\"http://www.dot.gov/\"
        title=\"Department of Transportation\">U.S.&nbsp;Department&nbsp;of&nbsp;Transportation</a><br>\r\n\t\t\tFederal&nbsp;Aviation&nbsp;Administration<br>\r\n\t\t\t800&nbsp;Independence&nbsp;Avenue,&nbsp;SW<br>\r\n\t\t\tWashington,&nbsp;DC&nbsp;20591<br>\r\n\t\t\t1-866-TELL-FAA&nbsp;(1-866-835-5322)</p>\r\n
        \       </div>\r\n    \t<div class=\"midSection divide\">\r\n\t\t\t<p class=\"title\">Websites</p>\r\n\t\t\t<ul>\r\n\t\t\t\t<li><a
        href=\"http://www.faa.gov/\">FAA.gov</a></li>\r\n\t\t\t</ul>\r\n\t\t\t<p class=\"title\">Web
        Policies</p>\r\n\t\t\t<ul>\r\n\t\t\t\t<li>[...]
