---
http_interactions:
- request:
    method: get
    uri: http://services.faa.gov/airport/status/SFO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Version-Requested:
      - Any
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"delay":"false","IATA":"SFO","state":"California","name":"San Francisco
        International","weather":{"weather": "Over"},"ICAO":"KSFO","city":"San
        Francisco","status":{"reason":"No known delays for this airport.","closureBegin":"","endTime":"","minDelay":"","avgDelay":"","maxDelay":"","closureEnd":"","trend":"","type":""}} '
  recorded_at: Sun, 09 Apr 2017 21:14:39 GMT
recorded_with: VCR 3.0.3
